@import '../../global';


.left-sidebar {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 20px;
}

@include media($breakpoint3) {
  .left-sidebar {
    width: 30%;
  }
}

@include media($breakpoint4) {
  .left-sidebar {
    border-right: 1px solid $color;
  }
}


