@import '../../global';

.rightSidebar {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 20px;
}

@include media($breakpoint3) {
  .rightSidebar {
    width: 70%;
    float: right;
  }

}
