@import '../../global';

.rightSidebar {
  box-sizing: border-box;
  display: inline-block;
  width: 70%;
  float: right;
  padding: 20px;
}

@include media($breakpoint4) {
  .right-sidebar {
    
  }

}
