$color: #032b5a;
$borderColor: #adb3b9;
$btnOutline: #0095ff;
$colorWhite: #fff;
$colorBlack: #000;
$tabBackground: rgba(174,192,209,0.25);
$buttonBackground: #008CBA;

$breakpoint1 : 400px;
$breakpoint2 : 575px;
$breakpoint3 : 768px;
$breakpoint4 : 1100px;

@mixin media($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content
  }
}

body {
    color: $colorBlack;
    background: $colorWhite;
    font-family: Arial, Helvetica, sans-serif;
}