@import "../../global";

li {
    list-style: none;
}

.container {
    display: flex;
    .places {
        flex: 1; 
        padding: 20px;
        span {
           font-size: 18px;
           font-weight: bold;
       }
    }
}
.warning {
    border-radius: 3px;
    background: $warningBackground;
    color: $warningTextColor;
    padding: 20px;
}
