li {
    list-style: none;
}

.container {
    display: flex;
    .places {
        flex: 1; 
        padding: 20px;
        span {
           font-size: 18px;
           font-weight: bold;
       }
    }
    .dates {
        
    }
}
